<div class="countainer mt-2 m-4">
  <div class="row">
    <div class="col-md-6 col-sm-12" >
      <div class="card">
        <div class="card-header">Accounts</div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="handlerSearchAccount()">
            <div class="input-group mb-3">
              <label class="input-group-text">Account ID :</label>
              <input type="text" class="form-control" placeholder="Search Account" formControlName="accountNumber">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
              </div>
            </div>
          </form>
          <ng-template #errorTemplate>
            <ng-container *ngIf="errorMessages">
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Account Not Found</h4>
                <p>Account with ID : <b>{{accountFormGroup.value.accountNumber}}</b> Not Found</p>
                <hr>
                <p class="mb-0">Please Check the Account Number</p>
              </div>
            </ng-container>
          </ng-template>

         <ng-container *ngIf="accountObservable$ | async as bankAccount; else errorTemplate">
            <div class="alert alert-warning" role="alert">
              <h4 class="alert-heading">Account Information</h4>
              <p>ID : {{bankAccount.id}}</p>
              <p>Type : {{bankAccount.type}}</p>
              <p><b>Balance : {{bankAccount.balance | number : '1.2-2'}} MAD</b></p>
              <hr>
              <p class="mb-0">RIB : {{bankAccount.rib}}</p>
            </div>
           <table class="table table-striped table-hover ">
              <thead>
                <tr class="text-center">
                  <th>ID</th>
                  <th>Date & Heure</th>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let transaction of bankAccount.operations">
                  <td>{{transaction.id}}</td>
                  <td>{{transaction.operationDate | date : 'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{transaction.type}}</td>
                  <td>{{transaction.description}}</td>
                  <td class="text-end">{{transaction.amount | number : '1.2-2'}} MAD</td>
                </tr>
              </tbody>
           </table>
           <div class="align-middle">
             <ul class="nav nav-pills">
               <li *ngFor="let item of [].constructor(bankAccount.totalPages); let page=index" class="page-item">
                 <a [ngClass]="page==currentPage?'btn-secondary':'btn-outline-secondary'" (click)="goToPage(page)"  class="btn mt-2" >{{page+1}}</a>
               </li>
             </ul>
           </div>
         </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card" *ngIf="accountObservable$">
        <div class="card-header">Operations</div>
        <div class="card-body">
          <form [formGroup]="operationFormGroup" method="post" (ngSubmit)="handleAccountOperation()">
            <label class="form-label">Operation Type</label>
            <div class="mb-3">

                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT" id="credit">
                <label class="form-check-label" for="credit">CREDIT</label>
              </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT" id="DEBIT">
              <label class="form-check-label" for="DEBIT">DEBIT</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="operationType" value="TRANSFER" id="transfer">
              <label class="form-check-label" for="transfer">TRANSFER</label>
            </div>
              </div>

            <div class="mb-3" *ngIf="operationFormGroup.value.operationType=='TRANSFER'">
              <label for="accountNumber" class="form-label">Destination</label>
              <input type="text" class="form-control" id="accountNumber" formControlName="accountDestination">
            </div>

            <div class="mb-3">
              <label for="amount" class="form-label">Amount </label>
              <input type="number" class="form-control" id="amount" formControlName="amount">
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" id="description" formControlName="description"></textarea>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-warning">Execute Operation</button>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>

</div>
