<div class="container mt-2">
  <ng-container *ngIf="customers$ | async as listCustomers; else failureOrLoading">
    <div class="card">
      <div class="card-header">Customers</div>
      <div class="card-body" >
        <form [formGroup]="searchFormGroup" class="form-inline my-2 my-lg-0" (ngSubmit)="handleSearchCustomer()">
          <div class="input-group">
            <label class="input-group-text">Search keyword :</label>
            <input type="text" id="keyword" class="form-control" placeholder="Type here" aria-label="Search" formControlName="keyword">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">
                <i class="bi bi-search"></i>
                Search</button>
            </div>
          </div>
        </form>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of listCustomers" >
            <th scope="row">{{c.id}}</th>
            <td>{{c.firstName}}</td>
            <td>{{c.lastName}}</td>
            <td>{{c.email}}</td>
            <td>{{c.phoneNumber}}</td>
            <td>
              <button class="btn btn-outline-primary" (click)="handleCustomerAccounts(c)"><i class="bi bi"></i>Accounts</button>
              <button class="btn btn-outline-danger" (click)="handleDeleteCustomer(c.id)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="alert alert-danger m-4" role="alert" *ngIf="errorMessage">
        Something went wrong. Please try again later.
        <br/>
        <b>Error Message:</b> {{errorMessage|json}}
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
        </div><br>
        <div class="ml-2">Loading...</div>
      </div>
    </ng-template>
  </ng-template>
</div>
