<div class="container">
  <div class="col-md-6 offset-3">
       <div class="card mt-4">
         <div class="card-header">
           Authentification
         </div>


         <div class="card-body">
           <!--error message-->
           <div class="alert alert-danger" *ngIf="errorMessage">
             {{errorMessage}}
           </div>
           <form class="" [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
             <div class="form-group">
               <label for="username">Username</label>
               <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="username">
              </div>
             <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
             </div>
             <div class="d-grid gap-2 mt-4">
              <button type="submit" class="btn btn-primary">Login</button>
              </div>
           </form>
         </div>
       </div>
    </div>
</div>
